
/* 
  https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 
  https://codepen.io/nfranciosi/pen/VGrbzm 
*/


:root{
  --slider-main-co: #fff;
  --slider-bg-blue: #6666d1;
  --slider-bg-gold: #daa520;
  --slider-tr-time: 1s;
}


/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: block;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 50px;
}

.theme-switch input {
  display:none;
}

.slider { /* Main Oval */
  position: absolute;
  background-color: var(--slider-bg-blue); 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: var(--slider-tr-time);
  cursor: pointer;
}

.slider:before { /* Toggle Switch white circle */
  content: "";
  position: absolute;
  background-color: var(--slider-main-co); 
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  height: 16px;
  width: 16px;
  transition: var(--slider-tr-time);
}

.slider:after{ /* Smaller circle for Moon effect */
  content: "";
  display: block;
  position: absolute;
  background-color: var(--slider-bg-blue); 
  left: 10px;
  top: 4px;
  height: 13px;
  width: 13px;
  transition: var(--slider-tr-time);

}

input:checked + .slider, input:checked + .slider:after {
  background-color: var(--slider-bg-gold);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider:after {
  transform: rotate(0.07turn) translateX(28px) scale(0);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}


.slider.round:after {
  border-radius: 50%;
}
