/* ======================================== */

html {
  scroll-behavior: smooth;
}

/***** Variables *****/

:root {
  /*    --bg-color: rgb(62, 63, 58); */
  --bg-color: #161310;
  --button-bg-color: rgba(0,0,0, 0.5);
  --bg-color-nav-dd: #33305c;
  --navbar-bg-color: #1d1d1d;
  --navbar-hover-color: rgb(1, 15, 53);
  --bg-gradient-1: linear-gradient(rgba(4, 33, 95, 0.5), rgba(0, 0, 0, 0.9)), url('../resources/bg1.jpg');;
  --link-color: rgb(164, 197, 252); /*rgb(171, 165, 239);*/
  --text-color: rgb(255, 255, 255);
  --hex-overlay-bg-color: rgba(15, 15, 15, 0.9);
}


[data-theme="light"] {
  
  /*--bg-color: rgb(255, 255, 255); */
  --bg-color: #e9ecef;
  --button-bg-color: rgba(255,255,255, 0.5);
  --bg-color-nav-dd: #b3b3b3;
  --navbar-bg-color: #e2e2e2;
  --navbar-hover-color: rgb(182, 200, 251);
  --bg-gradient-1: linear-gradient(rgba(141, 141, 141, .5), rgba(130, 159, 255, .9)), url('../resources/bg1.jpg');;
  --link-color: rgb(11, 0, 128);
  --text-color: rgb(0, 0, 0);
  --hex-overlay-bg-color: rgba(240, 240, 240, 0.9);
}

/***** Navbar *****/

 /* Navbar container */
.navbar {
  background-color: #000000;
  background-color: var(--navbar-bg-color);
  font-family: Arial;
  position: fixed;
  width: 100%;
  z-index: 50;
  height: 40px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 14px;
  color: #ffffff;
  color: var(--text-color);
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  background-color: #000;
  background-color: var(--navbar-bg-color);
  color: #ffffff;
  color: var(--text-color);
  font-size: 14px;
  border: none;
  outline: none;
  padding: 12px 16px 11px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(1, 15, 53);
  background-color: var(--navbar-hover-color);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  background-color: var(--bg-color);/* #313f5d; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #ffffff;
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(1,15,33);
  background-color: var(--navbar-hover-color);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
  display: none;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
 @media screen and (max-width: 600px) {
  .navbar .navitem:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navbar.responsive {position: fixed;}
  .navbar.responsive a.icon {
    position: fixed;
    right: 0;
    top: 0;
    
  }
  .navbar.responsive .navitem {
    float: none;
    display: block;
    text-align: left;
    background-color: #000;
    background-color: var(--navbar-bg-color);
  }
} 



/***** Main Containers *****/


body{
    background-color: #000;
    background-color: var(--bg-color);
    color: #fff;
    color: var(--text-color);
    margin: 0px;
    font-family: Open Sans, sans-serif;
    /*background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("docs/grandteton.jpg");*/

}    

.containerLanding{
  height: 100vh; 
  text-align: center;
  padding: 0px;
  margin: 0px;
  background:linear-gradient(rgba(4, 33, 95, 0.5), rgba(0, 0, 0, 0.9)), url('../resources/bg1.jpg');
  background: var(--bg-gradient-1);
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center;
  background-size:cover;   
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
}

#landing{
  margin:auto; position:relative; top: 50%; transform:translateY(-50%);
  padding: 0px;
  color: #fff;
  color: var(--text-color);
}

.containerBio{
  text-align: center; 
  background-color:#000;
  background-color: var(--bg-color);
  margin: 50px;
}

#bio{
  max-width: 900px;
  margin:auto; 
  position: relative; 
  color: #fff;
  color: var(--text-color);
}

.containerHex{
  text-align: center; 
  padding-top: 30px;
  background-color:#1d1d1d; 
  background-color: var(--navbar-bg-color); 
  background:linear-gradient(rgba(4, 33, 95, 0.5), rgba(0, 0, 0, 0.9)), url('../resources/bg1.jpg');
  background: var(--bg-gradient-1);
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center;
  background-size:cover;   
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* @media only screen and (max-width: 600px) { */
  @supports (-webkit-touch-callout: none) {
    .containerLanding, .containerHex{
      background-attachment: scroll;
    }
  }

/* https://github.com/thesved/fixed-cover-background */
.containerLanding:after, .containerHex:after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:0;
      /* height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      background-color:#1d1d1d; 
      background-color: var(--navbar-bg-color); 
      background:linear-gradient(rgba(4, 33, 95, 0.5), rgba(0, 0, 0, 0.9)), url('../resources/bg1.jpg');
      background: var(--bg-gradient-1); 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .containerBio:after{
  background-color:#000;
  background-color: var(--bg-color);
  margin: 50px;

      
    }

#hexagons{
  padding: auto;
  color: #fff;
  color: var(--text-color);  
}

.containerSiteInfo{
  text-align: center;
  background-color: #000;
  background-color: var(--navbar-bg-color);
  margin: 0px;  
  padding: 0px;
}

#siteinfo{
  margin: 0px;
  padding: 0px;
  color: #fff;
  color: var(--text-color);
}


/***** Text, Links, etc. *****/ 

a,A { /* Links */
  color: rgb(11,0,128);
  color: var(--link-color);
}

.anchor { /* Anchors (sample-age links) */
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.profpic1{ /* Square Profile Picture */
  width: auto;
  height: auto;
  max-height: 200px;
  max-width: 30vw;  
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

p, h1, h2, h3, div { /* main text */
  color: #fff;
  color: var(--text-color);
}


p.name{ /* "Brandon Sie" */
  font-size: 50px;
  font-weight: bold;
}

h1{ /* Header 1 */
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

h2{
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
}

h3{
  font-size: 15px;
  font-weight: bold;
  padding-top: 10px;
}


/**** Buttons ****/
.button {
  background-color: rgba(0,0,0, 0.5);
  background-color: var(--button-bg-color);
  border: none;
  color: white;
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
} 
.button12 {border-radius: 12px;}

.button:hover {
  background-color: rgb(1,15,33);
  background-color: var(--navbar-hover-color);
}

