/*
* {
  margin: 0;
  padding: 0;
}
*/

#hexGrid { /* List of Hex Elements*/
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-size: 15px;
  list-style-type: none;
}

.hex { /* Individual Hex li Element */
  position: relative;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}

.hexIn{ /* Hex Content img and p*/ 
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
    margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -o-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  -moz-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}

.hexIn .hexLink, .hexIn img { /* Edited from * to allow non-absolute positioning of hexText*/
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hexLink {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -o-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  -moz-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/


.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -o-transform: rotate3d(0,0,0,0deg);
  -moz-transform: rotate3d(0,0,0,0deg);
  -webkit-transform: rotate3d(0,0,0,0deg);
  -ms-transform: rotate3d(0,0,0,0deg);
  transform: rotate3d(0,0,0,0deg);
  }

.hexText {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  color: rgb(0,0,0);
  background-color: rgb(230, 230, 230);
  background-color: rgba(230, 230, 230, 0.95);
  font-weight: 300;
  
  -o-transition: .5s ease;
  -moz-transition: .5s ease;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  height: -20%;
  padding-bottom:100%;

  -o-transform: translate3d(0,100%,0);
  -moz-transform: translate3d(0,100%,0);
  -webkit-transform:translate3d(0,100%,0);
  -ms-transform:translate3d(0,100%,0);
  transform:translate3d(0,100%,0);

}

.proj-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(240,240,240);
  background-color: rgba(240,240,240,0.9);
}

.hexLink:hover .proj-overlay {
  opacity: 1;
  height: 100%;
}

.hexLink:focus .proj-overlay {
  opacity: 1;
  height: 100%;
}

.proj-text {
  color: black;
  font-size: 0;
  position: absolute;
  text-align: center;
  height: 0;
  width: 100%;
}

.hexLink:hover .proj-text {
  color: black;
  font-size: 15px;
  font-size: 1vw;
  position: absolute;
  text-align: center;
  height: 50%;
  padding: 40% 0;
}

.hexHeader{
  color: black;
  font-size: 0;
}

.hexLink:hover .hexHeader {
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-size: 2vw;
}

/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover .hexText, .hexLink:focus .hexText{
    height: 50%;
/*
  -o-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -webkit-transform:translate3d(0,0,0);
  -ms-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
*/
  
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/

@media (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 10%;

  }
  
  .hex {
    /* 100 / (number hex in odd rows) = width percent */
    width: 33.33%; /* = 100 / 5 */
  }
  
  .hex:nth-child(5n+4){ /* first hexagon of even rows. before 9n+6*/
      margin-left:16.67%;  /* = width of .hex / 2  to indent even rows . before 10%*/
  }
}


@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 10%;

  }
  
  .hex {
    /* 100 / (number hex in odd rows) = width percent */
    width: 33.33%; /* = 100 / 5 */
  }
  
  .hex:nth-child(5n+4){ /* first hexagon of even rows. before 9n+6*/
      margin-left:16.67%;  /* = width of .hex / 2  to indent even rows . before 10%*/
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%;

  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
      margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
          padding-bottom: 10%;
  }
}
